<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="distill-article-specific-styles">
    <%=require("../static/styles.css") %>
  </style>
  <script src="https://distill.pub/template.v2.js"></script>
</head>

<body>
  <d-front-matter>
    <script type="text/json">
      <%= JSON.stringify(require("./frontmatter.json"), null, 4) %>
    </script>
  </d-front-matter>

  <style>
  .header-self-link {
    border-bottom: none;
  }
  .header-self-link:hover {
    border-bottom: none;
  }

  .pixelated {
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  }

  .colab-reproduction {
    padding: 2px 4px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    color: #aaa;
    font-weight: 300;
    border: solid 1px rgba(0, 0, 0, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    /* float: right; */
  }

  .colab-reproduction:hover {
    text-decoration: none;
    border-bottom-color: rgba(0, 0, 0, 0.15);
  }

  .colab-reproduction-first {
    float: left;
    font-size: 9.5pt;
  }

  .colab-reproduction-inline {
    line-height: 100%;
    font-size: 8pt;
  }

  .colab-preface {
    display: inline;
    margin-right: 1em;
  }

  .colab-reproduction-logo {
    transform: translateY(1px);
    height: 10px;
    width: 16px;
  }
  </style>

  <d-title>
    <h1>Branch Specialization</h1>
  </d-title>

  <d-article>

    <h2 style="display: none;">Introduction</h2>

    <p>
      If we think of interpretability as a kind of “anatomy of neural networks”, most of the circuits thread has involved studying tiny little veins &ndash; looking at the small-scale, at individual neurons and how they connect. However, there are many natural questions that the small-scale approach doesn't address.
    </p>

    <p>
      In contrast, biological anatomy also has abstractions for dealing with larger-scale structures: individual organs like the heart, or entire organ systems like the respiratory system. And so we wonder: is there a “respiratory system” or “heart” or “brain region” of an artificial neural network? Do neural networks have any emergent structures that we could study that are larger-scale than circuits?
    </p>

    <p>
      This article describes <i>branch specialization</i>, one of three larger “structural phenomena” we’ve been able observe in neural networks. (The other two, equivariance and weight banding, have separate dedicated articles. Branch specialization occurs when neural network layers are split up into branches. The neurons and circuits tend to self-organize, clumping related functions into the each branch and forming larger functional units &ndash; a kind of “neural network brain region.” We find evidence that these structures implicitly exist in neural networks without branches, and that branches are simply reifying structures that otherwise exist.
    </p>

    <p>
      AlexNet[] is famous as a jump in computer vision, arguably starting the deep learning revolution. But buried in the details of the paper is a fascinating, rarely-discussed detail.
    </p>

    <p>
      The first two layers of AlexNet are split into two branches which can't communicate until they rejoin after the second layer. This structure was used to maximize the efficiency of training the model on two GPUs, but authors noticed something very curious happened as a result. The neurons in the first layer organized themselves into two groups: black-and-white Gabor filters formed on one branch and low-frequency color detectors formed on the other branch.
    </p>

    <figure id="figure-1">
      <img src="images/Figure_1.png" style="max-width: 100%; width: auto;" />
      <figcaption class="figcaption l-body">
        <p>
          <a href="#figure-1" class="figure-number">1</a>. CAPTION.
        </p>
      </figcaption>
    </figure>

    <p>
      Although the first layer of AlexNet is the only example of branch specialization we're aware of in the literature, it seems to be quite common. We find that branch specialization happens in later hidden layers, not just the first layer. It occurs in both low-level and high-level features. It occurs in a wide range of models, including places you might not expect it &ndash; for example, residual blocks in resnets can functionally be branches and specialize. Finally, branch specialization appears to surface as a structural phenomenon even in vanilla convolutional nets, even without any particular structure causing it.
    </p>

    <p>
      Is there a large-scale structure to how neural networks operate? How are features and circuits organized within the model? Does network architecture influence the features and circuits that form? Branch specialization hints at an exciting story related to all of these questions.
    </p>

    <h2>What is a branch?</h2>

    <p>
      Many neural network architectures have <i>branches</i>, sequences of layers which temporarily don't have access to information which is still passed to later layers.
    </p>

    <figure id="figure-2">
      <svg width="1377" height="788" viewBox="0 0 1377 788" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"id="diagram-Figure_2"style='width: 100%; height: auto;'>
<g id="Figure_2" --disabled-clip-path="url(#clip0)">
<rect width="1377" height="788" fill="white" class='pixelated' />
<g id="Group 75">
<g id="InceptionV1 has nine sets four way branches called &#226;&#128;&#156;Inception blocks.&#226;&#128;&#157;">
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="0" y="273.399">InceptionV1</tspan></text>
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="149.504" y="273.399"> has </tspan><tspan x="0" y="305.399">nine sets four way </tspan><tspan x="0" y="337.399">branches called </tspan><tspan x="0" y="369.399">&#x201c;Inception blocks.&#x201d;</tspan></text>
</g>
<path id="Vector 109" d="M341 237L341 501" stroke="#B0B0B0"/>
<g id="Group 73">
<g id="Group 46">
<path id="Vector 103" d="M601.115 371.467C570.332 372.672 578.102 407.921 545.825 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104" d="M601.115 371.467C570.663 370.262 578.35 335.012 546.42 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 61">
<path id="Vector 103_2" d="M1033.97 371.467C1003.19 372.672 1010.96 407.921 978.681 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_2" d="M1033.97 371.467C1003.52 370.262 1011.21 335.012 979.275 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 56">
<path id="Vector 103_3" d="M818.305 371.467C787.522 372.672 795.293 407.921 763.016 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_3" d="M818.305 371.467C787.853 370.262 795.54 335.012 763.61 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 62">
<path id="Vector 103_4" d="M1251.16 371.467C1220.38 372.672 1228.15 407.921 1195.87 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_4" d="M1251.16 371.467C1220.71 370.262 1228.4 335.012 1196.47 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 47">
<path id="Vector 103_5" d="M601.115 370.64C570.332 374.114 578.102 475.715 545.825 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_5" d="M601.115 370.64C570.663 367.167 578.35 265.566 546.42 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 63">
<path id="Vector 103_6" d="M1033.97 370.64C1003.19 374.114 1010.96 475.715 978.681 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_6" d="M1033.97 370.64C1003.52 367.167 1011.21 265.566 979.275 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 57">
<path id="Vector 103_7" d="M818.305 370.64C787.522 374.114 795.293 475.715 763.016 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_7" d="M818.305 370.64C787.853 367.167 795.54 265.566 763.61 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 64">
<path id="Vector 103_8" d="M1251.16 370.64C1220.38 374.114 1228.15 475.715 1195.87 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_8" d="M1251.16 370.64C1220.71 367.167 1228.4 265.566 1196.47 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 43">
<path id="Vector 103_9" d="M622.748 371.467C653.531 372.672 645.76 407.921 678.037 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_9" d="M622.748 371.467C653.2 370.262 645.513 335.012 677.443 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 65">
<path id="Vector 103_10" d="M1055.6 371.467C1086.39 372.672 1078.62 407.921 1110.89 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_10" d="M1055.6 371.467C1086.05 370.262 1078.37 335.012 1110.3 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 58">
<path id="Vector 103_11" d="M839.938 371.467C870.721 372.672 862.951 407.921 895.228 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_11" d="M839.938 371.467C870.39 370.262 862.703 335.012 894.633 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 48">
<path id="Vector 103_12" d="M399 371.467C433.739 372.672 424.97 407.921 461.395 407.319" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_12" d="M399 371.467C433.365 370.262 424.691 335.012 460.724 335.615" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 45">
<path id="Vector 103_13" d="M622.748 370.64C653.531 374.114 645.76 475.715 678.037 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_13" d="M622.748 370.64C653.2 367.167 645.513 265.566 677.443 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 67">
<path id="Vector 103_14" d="M1055.6 370.64C1086.39 374.114 1078.62 475.715 1110.89 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_14" d="M1055.6 370.64C1086.05 367.167 1078.37 265.566 1110.3 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 59">
<path id="Vector 103_15" d="M839.938 370.64C870.721 374.114 862.951 475.715 895.228 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_15" d="M839.938 370.64C870.39 367.167 862.703 265.566 894.633 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 49">
<path id="Vector 103_16" d="M399 370.64C433.739 374.114 424.97 475.715 461.395 473.978" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_16" d="M399 370.64C433.365 367.167 424.691 265.566 460.724 267.302" stroke="#DDDDDD" stroke-width="5"/>
</g>
<rect id="Rectangle 187" x="597.162" y="334" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 189" x="1030.16" y="334" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 188" x="814.162" y="334" width="32" height="71" rx="6" fill="#D6D8DC"/>
<g id="Group 54">
<path id="Vector 130" d="M688.266 336H749.636" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 132" d="M688.266 268H749.636" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 131" d="M691.334 407H756.796" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 133" d="M694.403 474H761.91" stroke="#DDDDDD" stroke-width="5"/>
<rect id="Rectangle 169" x="674.969" y="309" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 188_2" x="674.969" y="241" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 190" x="674.969" y="446" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 173" x="674.969" y="378" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 176" x="732.248" y="309" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 189_2" x="732.248" y="241" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 191" x="732.248" y="446" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 180" x="732.248" y="378" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 186" x="669.854" y="237" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 192" x="669.854" y="305" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 193" x="669.854" y="374" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 194" x="669.854" y="443" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
</g>
<g id="Group 69">
<path id="Vector 130_2" d="M1121.12 336H1182.49" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 132_2" d="M1121.12 268H1182.49" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 131_2" d="M1124.19 407H1189.65" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 133_2" d="M1127.26 474H1194.77" stroke="#DDDDDD" stroke-width="5"/>
<rect id="Rectangle 169_2" x="1107.82" y="309" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 188_3" x="1107.82" y="241" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 190_2" x="1107.82" y="446" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 173_2" x="1107.82" y="378" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 176_2" x="1165.1" y="309" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 189_3" x="1165.1" y="241" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 191_2" x="1165.1" y="446" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 180_2" x="1165.1" y="378" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 186_2" x="1102.71" y="237" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 192_2" x="1102.71" y="305" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 193_2" x="1102.71" y="374" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 194_2" x="1102.71" y="443" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
</g>
<g id="Group 60">
<path id="Vector 130_3" d="M905.456 336H966.827" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 132_3" d="M905.456 268H966.827" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 131_3" d="M908.525 407H973.986" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 133_3" d="M911.593 474H979.101" stroke="#DDDDDD" stroke-width="5"/>
<rect id="Rectangle 169_3" x="892.159" y="309" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 188_4" x="892.159" y="241" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 190_3" x="892.159" y="446" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 173_3" x="892.159" y="378" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 176_3" x="949.438" y="309" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 189_4" x="949.438" y="241" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 191_3" x="949.438" y="446" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 180_3" x="949.438" y="378" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 186_3" x="887.045" y="237" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 192_3" x="887.045" y="305" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 193_3" x="887.045" y="374" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 194_3" x="887.045" y="443" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
</g>
<g id="Group 55">
<path id="Vector 134" d="M470.4 336H531.771" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 135" d="M470.4 268H531.771" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 136" d="M473.469 407H538.931" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 137" d="M470.4 474H537.908" stroke="#DDDDDD" stroke-width="5"/>
<rect id="Rectangle 195" x="458.126" y="309" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 196" x="458.126" y="241" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 197" x="458.126" y="446" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 198" x="458.126" y="378" width="31.7081" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 199" x="515.405" y="309" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 200" x="515.405" y="241" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 201" x="515.405" y="446" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 202" x="515.405" y="378" width="32.731" height="50" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 203" x="453.012" y="237" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 204" x="453.012" y="305" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 205" x="453.012" y="374" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 206" x="453.012" y="443" width="101.261" height="58" rx="10" fill="#FFB661" fill-opacity="0.3"/>
</g>
</g>
</g>
<g id="Group 76">
<g id="AlexNet has several two way branches.">
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="98.2642" y="27.3994"> has several </tspan><tspan x="0" y="59.3994">two way branches.</tspan></text>
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="0" y="27.3994">AlexNet</tspan></text>
</g>
<path id="Vector 108" d="M341.5 12V176.5" stroke="#B0B0B0"/>
<path id="Vector 107" d="M1062 88H1229" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 110" d="M477 141H538" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 114" d="M477 39H538" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 113" d="M692 38H753" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 112" d="M692 141H753" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 111" d="M901 38H963" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 109_2" d="M904 141H970" stroke="#DDDDDD" stroke-width="5"/>
<g id="Group 30">
<path id="Vector 103_17" d="M406 89C441.548 90.7139 432.574 140.846 469.848 139.989" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_17" d="M406 89C441.165 87.2861 432.289 37.1539 469.161 38.0109" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 31">
<path id="Vector 103_18" d="M605.388 89C570.624 90.7139 579.4 140.846 542.948 139.989" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_18" d="M605.388 89C570.998 87.2861 579.679 37.1539 543.62 38.0109" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 35">
<path id="Vector 103_19" d="M1041.25 89C1006.49 90.7139 1015.26 140.846 978.814 139.989" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_19" d="M1041.25 89C1006.86 87.2861 1015.54 37.1539 979.485 38.0109" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 33">
<path id="Vector 103_20" d="M825.959 89C791.195 90.7139 799.97 140.846 763.519 139.989" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_20" d="M825.959 89C791.569 87.2861 800.25 37.1539 764.191 38.0109" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 32">
<path id="Vector 103_21" d="M622.621 89C657.384 90.7139 648.609 140.846 685.06 139.989" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_21" d="M622.621 89C657.011 87.2861 648.33 37.1539 684.389 38.0109" stroke="#DDDDDD" stroke-width="5"/>
</g>
<g id="Group 34">
<path id="Vector 103_22" d="M832.903 89C867.667 90.7139 858.892 140.846 895.343 139.989" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_22" d="M832.903 89C867.293 87.2861 858.612 37.1539 894.671 38.0109" stroke="#DDDDDD" stroke-width="5"/>
</g>
<rect id="Rectangle 122" x="461" y="3" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 126" x="681" y="3" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 130" x="889" y="3" width="31" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 124" x="461" y="105" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 127" x="681" y="105" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 134" x="1095" y="53" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 167" x="815" y="53" width="31" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 131" x="889" y="105" width="31" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 123" x="521" y="3" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 128" x="737" y="3" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 132" x="946" y="3" width="34" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 125" x="521" y="105" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 129" x="737" y="105" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 135" x="1153" y="53" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 133" x="946" y="105" width="34" height="71" rx="6" fill="#D6D8DC"/>
<g id="imageFigure_2 39" style="mix-blend-mode:darken">
<rect x="596" y="49" width="37" height="84" fill="url(#patternFigure_20)" class='pixelated' />
</g>
<g id="imageFigure_2 40" style="mix-blend-mode:darken">
<rect x="1033" y="49" width="38" height="84" fill="url(#patternFigure_21)" class='pixelated' />
</g>
<rect id="Rectangle 138" x="674" y="-2" width="101" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 142" x="457" y="-2" width="101" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 140" x="883" y="-2" width="101" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 139" x="674" y="100" width="103" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 143" x="457" y="100" width="102" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 141" x="884" y="100" width="101" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
</g>
<g id="Group 74">
<g id="Residual Networks aren&#226;&#128;&#153;t typically thought of as having branches, but residual blocks can be seen as a type of branch.">
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="0" y="585.399">Residual Networks</tspan></text>
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="231.924" y="585.399"> </tspan><tspan x="0" y="617.399">aren&#x2019;t typically thought </tspan><tspan x="0" y="649.399">of as having branches, </tspan><tspan x="0" y="681.399">but residual blocks can </tspan><tspan x="0" y="713.399">be seen as a type of </tspan><tspan x="0" y="745.399">branch.</tspan></text>
</g>
<path id="Vector 110_2" d="M341 570L341 764" stroke="#B0B0B0"/>
<circle id="Ellipse 2" cx="618.5" cy="664.5" r="17.5" fill="#DDDDDD" class='pixelated' />
<ellipse id="Ellipse 3" cx="834" cy="664.5" rx="18" ry="17.5" fill="#DDDDDD" class='pixelated' />
<ellipse id="Ellipse 5" cx="1253" cy="670.5" rx="18" ry="17.5" fill="#DDDDDD" class='pixelated' />
<ellipse id="Ellipse 4" cx="1047" cy="664.5" rx="18" ry="17.5" fill="#DDDDDD" class='pixelated' />
<path id="Vector 115" d="M707 608H769" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 119" d="M1126 608H1188" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 117" d="M900 608H961" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 116" d="M476 606H537" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 118" d="M380 666L1034 666" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 121" d="M799 666L1299 666" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_23" d="M403 666C439.189 663.984 430.054 605.005 468 606.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_24" d="M607 666C572.481 663.984 581.195 605.005 545 606.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_25" d="M1043 666C1007.37 663.984 1016.36 605.005 979 606.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_26" d="M837 666C802.481 663.984 811.195 605.005 775 606.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 123" d="M1257 672C1221.92 669.984 1230.78 611.005 1194 612.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_27" d="M628 666C664.189 663.984 655.054 605.005 693 606.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 124" d="M1049 666C1083.52 663.984 1074.81 605.005 1111 606.013" stroke="#DDDDDD" stroke-width="5"/>
<path id="Vector 104_28" d="M826 666C861.632 663.984 852.638 605.005 890 606.013" stroke="#DDDDDD" stroke-width="5"/>
<rect id="Rectangle 145" x="459" y="571" width="35" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 146" x="689" y="571" width="34" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 162" x="1108" y="571" width="34" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 147" x="887" y="571" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 152" x="522" y="571" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 153" x="749" y="571" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 164" x="1168" y="571" width="32" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 154" x="946" y="571" width="33" height="71" rx="6" fill="#D6D8DC"/>
<rect id="Rectangle 159" x="684" y="566" width="103" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 166" x="1103" y="566" width="103" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 160" x="455" y="566" width="104" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
<rect id="Rectangle 161" x="881" y="566" width="103" height="81" rx="10" fill="#FFB661" fill-opacity="0.3"/>
</g>
</g>
<defs>
<pattern id="patternFigure_20" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#imageFigure_20" transform="translate(0 -0.0010352) scale(0.0116649 0.00569358)" class='pixelated' />
</pattern>
<pattern id="patternFigure_21" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#imageFigure_20" transform="translate(0 -0.0010352) scale(0.0116649 0.00569358)" class='pixelated' />
</pattern>
<clipPath id="clip0">
<rect width="1377" height="788" fill="white" class='pixelated' />
</clipPath>
<image id="imageFigure_20" data-name="imageFigure_2.png" width="92" height="176" xlink:href="generated_images/94b60bf47467d7.png" class='pixelated' />
</defs>
</svg>

      <figcaption class="figcaption l-body">
        <p>
          <a href="#figure-2" class="figure-number">2</a>. CAPTION.
        </p>
      </figcaption>
    </figure>

    <p>
      In the past, models with explicitly-labeled branches were popular (such as AlexNet and the Inception family of networks). In more recent years, these have become less common, but residual networks &ndash; which can be seen as implicitly having branches in their residual blocks &ndash; have become very common. We also sometimes see branched architectures develop automatically in AutoML approaches, where the network architecture is learned.
    </p>

    <p>
      The implicit branching of residual networks has some important nuances. At first glance, every layer is a two-way branch. But because the branches are combined together by addition, we can actually rewrite the model to reveal that the residual blocks can be understood as branches in parallel:
    </p>

    <figure id="figure-3">
      <svg width="1377" height="451" viewBox="0 0 1377 451" fill="none" xmlns="http://www.w3.org/2000/svg"id="diagram-Figure_3"style='width: 100%; height: auto;'>
<g id="Figure_3">
<rect width="1377" height="451" fill="white" class='pixelated' />
<g id="Group 78">
<text id="We typically think of residual blocks as sequential layers, building on top of each other." fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="933" y="52.3994">We typically think of residual </tspan><tspan x="933" y="84.3994">blocks as sequential layers, </tspan><tspan x="933" y="116.399">building on top of each other.</tspan></text>
<g id="Group 29">
<path id="Vector 96" d="M31.6364 144.818C54.8525 144.818 56.1551 143.727 79.4479 143.727C103.395 143.727 745.76 143.727 764.609 143.727C786.676 143.727 789.051 144.818 812.727 144.818" stroke="#B0B0B0" stroke-width="5"/>
<g id="Group 21">
<path id="Vector 88" d="M31.6364 143.727C64.9204 143.727 66.7879 63 100.182 63C134.514 63 188.72 63 215.742 63C247.379 63 250.784 143.727 284.727 143.727" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 84" x="100.273" y="28" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 85" x="184.273" y="28" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
</g>
<g id="Group 22">
<path id="Vector 88_2" d="M289.091 143.727C322.375 143.727 324.242 63 357.636 63C391.969 63 446.174 63 473.197 63C504.833 63 508.239 143.727 542.182 143.727" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 84_2" x="357.727" y="28" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 85_2" x="441.727" y="28" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
</g>
<g id="Group 23">
<path id="Vector 88_3" d="M546.545 143.727C579.83 143.727 581.697 63 615.091 63C649.423 63 703.629 63 730.652 63C762.288 63 765.693 143.727 799.636 143.727" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 84_3" x="615.182" y="28" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 85_3" x="699.182" y="28" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
</g>
<g id="Group 19">
<circle id="Ellipse 1" cx="24.5455" cy="143.182" r="23.5455" fill="#DCDCDC" stroke="#757575" stroke-width="2" class='pixelated' />
<text id="+" fill="#606060" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="40" letter-spacing="0em"><tspan x="10.9091" y="154.717">+</tspan></text>
</g>
<g id="Group 20">
<circle id="Ellipse 1_2" cx="285.273" cy="143.182" r="23.5455" fill="#DCDCDC" stroke="#757575" stroke-width="2" class='pixelated' />
<text id="+_2" fill="#606060" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="40" letter-spacing="0em"><tspan x="271.636" y="154.717">+</tspan></text>
</g>
<g id="Group 25">
<circle id="Ellipse 1_3" cx="542.727" cy="143.182" r="23.5455" fill="#DCDCDC" stroke="#757575" stroke-width="2" class='pixelated' />
<text id="+_3" fill="#606060" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="40" letter-spacing="0em"><tspan x="529.091" y="154.717">+</tspan></text>
</g>
<g id="Group 26">
<circle id="Ellipse 1_4" cx="807.818" cy="143.182" r="23.5455" fill="#DCDCDC" stroke="#757575" stroke-width="2" class='pixelated' />
<text id="+_4" fill="#606060" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="40" letter-spacing="0em"><tspan x="794.182" y="154.717">+</tspan></text>
</g>
</g>
</g>
<g id="Group 77">
<text id="... but we can also conceptualize them as, to some extent, being parallel branches due to the skip coonnections. This means that residual blocks can potentially specialize." fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="933" y="268.399">... but we can also conceptualize </tspan><tspan x="933" y="300.399">them as, to some extent, being </tspan><tspan x="933" y="332.399">parallel branches due to the skip </tspan><tspan x="933" y="364.399">coonnections. This means that </tspan><tspan x="933" y="396.399">residual blocks can potentially </tspan><tspan x="933" y="428.399">specialize.</tspan></text>
<g id="Group 28">
<path id="Vector 88_4" d="M16.3636 279C138.945 279 582.172 279 678.655 279C791.612 279 775.554 368.291 810.545 387" stroke="#B0B0B0" stroke-width="5"/>
<path id="Vector 97" opacity="0.25" d="M219.273 281.182C241.133 281.182 249.267 296.454 271.636 296.454" stroke="#B0B0B0" stroke-width="5"/>
<path id="Vector 100" opacity="0.25" d="M476.727 333.545C498.588 333.545 506.722 352.091 529.091 352.091" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 84_4" x="100.273" y="244" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 85_4" x="184.273" y="244" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<path id="Vector 88_5" d="M357.818 332.455C436.968 332.455 630.974 332.455 693.273 332.455C766.208 332.455 753.818 368.323 801.818 387" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 84_5" x="357.727" y="297.455" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 85_5" x="441.727" y="297.455" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<path id="Vector 88_6" d="M615.273 388.091C649.571 388.091 703.723 388.091 730.719 388.091C762.325 388.091 765.727 387 799.636 387" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 84_6" x="615.182" y="353.091" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 85_6" x="699.182" y="353.091" width="37.2727" height="68.9091" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<g id="Group 27">
<circle id="Ellipse 1_5" cx="807.818" cy="385.363" r="23.5455" fill="#DCDCDC" stroke="#757575" stroke-width="2" class='pixelated' />
<text id="+_5" fill="#606060" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="40" letter-spacing="0em"><tspan x="794.182" y="396.899">+</tspan></text>
</g>
</g>
</g>
</g>
</svg>

      <figcaption class="figcaption l-body">
        <p>
          <a href="#figure-3" class="figure-number">3</a>. CAPTION.
        </p>
      </figcaption>
    </figure>

    <p>
      We typically see residual blocks specialize in very deep residual networks (e.g. ResNet-52). One hypothesis for why is that, in these models, the exact depth of a layer doesn't matter and the branching aspect becomes more important than the sequential aspect.
    </p>

    <p>
      One of the conceptual weaknesses of normal branching models is that although branches can save parameters, it still requires a lot of parameters to mix values between branches. However, if you buy the branch interpretation of residual networks, you can see them as a strategy to sidestep this: residual networks intermix branches (e.g. block sparse weights) with low-rank connections (projecting all the blocks into the same sum and then back up). This seems like a really elegant way to handle branching. More practically, it suggests that analysis of residual networks might be well-served by paying close attention to the units in the blocks, and might expect the residual stream to be unusally polysemantic.
    </p>

    <h2>Why does branch specialization occur?</h2>

    <p>
      Branch specialization is defined by features organizing between branches. In a normal layer, features are organized randomly: a given feature is just as likely to be any neuron in a layer. But in a branched layer, we often see features of a given type cluster to one branch. The branch has specialized on that type of feature.
    </p>

    <p>
      How does this happen? Our intuition is that there's a positive feedback loop during training.
    </p>

    <figure id="figure-4">
      <svg width="1377" height="565" viewBox="0 0 1377 565" fill="none" xmlns="http://www.w3.org/2000/svg"id="diagram-Figure_4"style='width: 100%; height: auto;'>
<g id="Figure_4">
<rect width="1377" height="565" fill="white" class='pixelated' />
<path id="Vector 89" d="M111 376C262.5 376 271 326 423 326C579.271 326 826 326 949 326C1093 326 1108.5 376 1263 376" stroke="#E8E8E8" stroke-width="5"/>
<path id="Vector 90" d="M111 376C262.5 376 271 426 423 426C579.271 426 826 426 949 426C1093 426 1108.5 376 1263 376" stroke="#E8E8E8" stroke-width="5"/>
<path id="Vector 91" d="M111 376C262.5 376 271 534 423 534C579.271 534 826 534 949 534C1093 534 1108.5 376 1263 376" stroke="#E8E8E8" stroke-width="5"/>
<path id="Vector 88" d="M111 376C262.5 376 271 215.5 423 215.5C579.271 215.5 826 215.5 949 215.5C1093 215.5 1108.5 376 1263 376" stroke="#B0B0B0" stroke-width="5"/>
<rect id="Rectangle 76" x="1" y="327" width="110" height="98" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 77" x="423" y="396" width="109" height="64" rx="9" fill="#F9F9F9" stroke="#D7D7D7" stroke-width="2"/>
<rect id="Rectangle 80" x="423" y="292" width="109" height="63" rx="9" fill="#F9F9F9" stroke="#D7D7D7" stroke-width="2"/>
<rect id="Rectangle 84" x="423" y="188" width="109" height="63" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 82" x="423" y="501" width="109" height="63" rx="9" fill="#F9F9F9" stroke="#D7D7D7" stroke-width="2"/>
<rect id="Rectangle 78" x="844" y="396" width="109" height="64" rx="9" fill="#F9F9F9" stroke="#D7D7D7" stroke-width="2"/>
<rect id="Rectangle 81" x="844" y="292" width="109" height="63" rx="9" fill="#F9F9F9" stroke="#D7D7D7" stroke-width="2"/>
<rect id="Rectangle 85" x="844" y="188" width="109" height="63" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<rect id="Rectangle 83" x="844" y="501" width="109" height="63" rx="9" fill="#F9F9F9" stroke="#D7D7D7" stroke-width="2"/>
<rect id="Rectangle 79" x="1265" y="327" width="110" height="98" rx="9" fill="#DCDCDC" stroke="#757575" stroke-width="2"/>
<text id="A1" fill="#545454" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="459" y="229.938">A1</tspan></text>
<text id="B1" fill="#C4C4C4" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="459" y="333.938">B1</tspan></text>
<text id="C1" fill="#C4C4C4" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="459" y="437.938">C1</tspan></text>
<text id="D1" fill="#C4C4C4" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="459" y="541.938">D1</tspan></text>
<text id="A2" fill="#545454" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="880" y="229.938">A2</tspan></text>
<text id="B2" fill="#C4C4C4" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="880" y="333.938">B2</tspan></text>
<text id="D2" fill="#C4C4C4" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="880" y="437.938">D2</tspan></text>
<text id="D2_2" fill="#C4C4C4" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="32" letter-spacing="0em"><tspan x="880" y="541.938">D2</tspan></text>
<text id="The first part of the branch is incentivized to form features relevant to the second half." fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="237" y="52.3994">The first part of the branch is  </tspan><tspan x="237" y="84.3994">incentivized to form features </tspan><tspan x="237" y="116.399">relevant to the second half.</tspan></text>
<text id="The second half of the branch prefers features which the first half provides primitives for." fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="808" y="46.3994">The second half of the branch </tspan><tspan x="808" y="78.3994">prefers features which the first </tspan><tspan x="808" y="110.399">half provides primitives for.</tspan></text>
<path id="Vector 94" d="M642 53L659.235 51.278L649.126 37.2133L642 53ZM744.917 51.8127C719.021 31.8179 678.758 29.1317 652.235 43.8095L653.687 46.4344C679.146 32.3458 718.119 34.9116 743.083 54.1873L744.917 51.8127Z" fill="#BBBBBB"/>
<path id="Vector 95" d="M744.756 87.6099L727.459 88.8543L736.971 103.188L744.756 87.6099ZM641.342 87.011C666.721 107.111 707.052 110.455 734.144 96.5091L732.8 93.8472C706.773 107.245 667.702 104.035 643.226 84.6504L641.342 87.011Z" fill="#BBBBBB"/>
</g>
</svg>

      <figcaption class="figcaption l-body">
        <p>
          <a href="#figure-4" class="figure-number">4</a>. CAPTION.
        </p>
      </figcaption>
    </figure>

    <p>
      Another way to think about this is that if you need to cut a neural network into pieces that have limited ability to communicate with each other, it makes sense to organize similar features close together, because they probably need to share more information.
    </p>

    <h2>Branch specialization beyond the first layer</h2>

    <p>
      So far, the only concrete example we've shown of branch specialization is the first and second layer of AlexNet. What about later layers? AlexNet also splits its later layers into branches, after all. This seems to be unexplored, since studying features after the first few layers is much harder.
    </p>

    <p>
      Unfortunately, branch specialization in the later layers of AlexNet is very subtle. Instead of one overall split, it's more like there's dozens of small clusters of neurons, each cluster being assigned to a branch. It's hard to be confident that one isn't just seeing patterns in noise.
    </p>

    <p>
      But other models have very clear branch specialization in later layers. This tends to happen when a branch constitutes only a very small fraction of a layer, either because there are many branches or because one is much smaller than others. In these cases, the branch can specialize on a very small subset of the features that exist in a layer and reveal a clear pattern.
    </p>

    <p>
      For example, most of InceptionV1's layers have a branched structure. The branches have varying numbers of units, and varying convolution sizes. The 5x5 branch is the smallest branch, and also has the largest convolution size. It's often very specialized:
    </p>

    <ul>
      <li>
        <code>mixed3a_5x5</code>:
        The 5x5 branch of mixed3a, a relatively early layer, is specialized on color detection. For example, all 9 of the black-and-white vs. color detectors are in this branch, despite it only being 32 of this layer's 256 neurons. The probability of that happening by chance is less than 1/10<sup>8</sup>.
      </li>
      <li>
        <code>mixed3b_5x5</code>:
        This branch contains all 30 of the curve-related features for this layer (all curves, double curves, circles, spirals, S-shaped features, and more), despite only being 96 of the 480 neurons in this layer. The probability of that happening by chance is less than 1/10<sup>20</sup>. Many of the other neurons in this branch are boundary detectors, which often partly rely on curves if they are detecting curve boundaries.
      </li>
      <li>
        <code>mixed4a_5x5</code>:
        This branch appears to be specialized in complex shapes and 3D geometry detectors. We don't have enough of a full taxonomy of this layer to allow for a quantitative assessment.
      </li>
    </ul>

    <p>
      It's worth noting one confounding factor which might be influencing the specialization. The 5x5 branches are the smallest branches, but also have larger convolutions (5x5 instead of 3x3 or 1x1) than their neighbors.<d-footnote>There is something which suggests that the branching plays an essential role: mixed3a and mixed3b are adjacent layers which contain relatively similar features and are at the same scale. If it was only about convolution size, why don't we see any curves in the <code>mixed3a_5x5</code> branch or color in the <code>mixed3b_5x5</code> branch?</d-footnote>
    </p>

    <h2>Why is branch specialization consistent?</h2>

    <p>
      Perhaps the most surprising thing about branch specialization is that the same branch specializations seem to occur again and again, across different architectures and tasks.
    </p>

    <p>
      For example, the branch specialization we observed in AlexNet &ndash; the first layer specializing into a black-and-white Gabor branch vs. a low-frequency color branch &ndash; is a surprisingly robust phenomenon. It occurs consistently if you retrain AlexNet. It also occurs if you train other architectures with the first few layers split into two branches. It even occurs if you train those models on other natural image datasets, like Places instead of ImageNet. Anecdotally, we also seem to see other types of branch specialization recur. For example, finding branches that seem to specialize in curve detection seems to be quite common (although InceptionV1's <code>mixed3b_5x5</code> is the only one we've carefully characterized).
    </p>

    <p>
      So, why do the same branch specializations occur again and again?
    </p>

    <p>
      One hypothesis seems very tempting. Notice that many of the same features seem to form in branched models as form in normal, non-branched models. For example, the first layer of both branched and non-branched models contain Gabor filters and color features. If the same features exist, presumably the same weights exist between them.
    </p>

    <p>
      Could it be that branching is just surfacing a structure that already exists? Perhaps there's two different subgraphs between the weights of the first and second conv layer in a normal model, with relatively small weights between them, and that when you train a branched model these two subgraphs latch onto the branches.
    </p>

    <p>
      To test this, let's look at models which have non-branched first and second convolutional layers. Let's take the weights between them and perform a singular value decomposition (SVD) on the absolute values of the weights. This will show us the main factors of variation in which neurons connect to different neurons in the next layer (irrespective of whether those connections are excitatory or inhibitory).
    </p>

    <p>
      Sure enough, the singular vector (the largest factor of variation) of the first two convolutional layers of InceptionV1 is color.
    </p>

    <figure id="figure-5">
      <svg width="1782" height="1552" viewBox="0 0 1782 1552" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"id="diagram-Figure_5"style='width: 100%; height: auto;'>
<rect width="1782" height="1552" fill="white" class='pixelated' />
<rect x="374" y="157" width="582" height="583" fill="url(#patternFigure_50)" class='pixelated' />
<rect x="1137" y="162" width="585" height="581" fill="url(#patternFigure_51)" class='pixelated' />
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="550.497" y="35.3994">first convolutional layer</tspan></text>
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="366" y="35.3994">Neurons in the </tspan><tspan x="841.637" y="35.3994"> &#10;</tspan><tspan x="366" y="67.3994">organized by the left singular vectors of |W|.</tspan></text>
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="4" y="262.399">&#10;</tspan></text>
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="4" y="166.399">InceptionV1 (tf-slim </tspan><tspan x="4" y="198.399">version) trained on </tspan><tspan x="4" y="230.399">ImageNet.&#10;</tspan></text>
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="4" y="294.399">The first singular </tspan><tspan x="4" y="326.399">vector separates color </tspan><tspan x="4" y="358.399">and black and white, </tspan><tspan x="4" y="390.399">meaning that&#x2019;s the </tspan><tspan x="4" y="422.399">largest dimension of </tspan><tspan x="4" y="454.399">variation in which </tspan><tspan x="4" y="486.399">neurons connect to </tspan><tspan x="4" y="518.399">which in the next layer.</tspan></text>
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="722" y="367.399">Gabor filters and </tspan><tspan x="722" y="399.399">color features are far </tspan><tspan x="722" y="431.399">apart, meaning they </tspan><tspan x="722" y="463.399">tend to connect to </tspan><tspan x="722" y="495.399">different features in </tspan><tspan x="722" y="527.399">the next layer.</tspan></text>
<path d="M373.141 160.933V767.312M373.141 160.933H380.651M373.141 160.933H365.632M373.141 767.312H380.651M373.141 767.312L365.632 767.312" stroke="#A7A7A7" class='pixelated' />
<path d="M391.915 144.037L998.294 144.037M391.915 144.037L391.915 136.528M391.915 144.037L391.915 151.547M998.294 144.037L998.294 136.528M998.294 144.037L998.293 151.546" stroke="#A7A7A7" class='pixelated' />
<rect x="524" y="123" width="351" height="27" fill="white" class='pixelated' />
<text fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="537" y="150.203">Singular Vector 1  (frequency?)</tspan></text>
<rect x="362" y="304" width="26" height="309" fill="white" class='pixelated' />
<text transform="translate(360 596) rotate(-90)" fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="0" y="22.2031">Singular Vector 0  (color?)</tspan></text>
<rect x="401" y="889" width="580" height="585" fill="url(#patternFigure_52)" class='pixelated' />
<rect x="1148" y="898" width="583" height="583" fill="url(#patternFigure_53)" class='pixelated' />
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="4" y="949.399">&#10;</tspan></text>
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="4" y="885.399">InceptionV1 trained on </tspan><tspan x="4" y="917.399">Places365&#10;</tspan></text>
<text fill="#676767" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="4" y="981.399">One more, the first </tspan><tspan x="4" y="1013.4">singular vector </tspan><tspan x="4" y="1045.4">separates color and </tspan><tspan x="4" y="1077.4">black and white, </tspan><tspan x="4" y="1109.4">meaning that&#x2019;s the </tspan><tspan x="4" y="1141.4">largest dimension of </tspan><tspan x="4" y="1173.4">variation in which </tspan><tspan x="4" y="1205.4">neurons connect to </tspan><tspan x="4" y="1237.4">which in the next layer.</tspan></text>
<path d="M373.141 891.933V1498.31M373.141 891.933H380.651M373.141 891.933H365.632M373.141 1498.31H380.651M373.141 1498.31L365.632 1498.31" stroke="#A7A7A7" class='pixelated' />
<path d="M391.915 875.037L998.294 875.037M391.915 875.037L391.915 867.528M391.915 875.037L391.915 882.547M998.294 875.037L998.294 867.528M998.294 875.037L998.293 882.547" stroke="#A7A7A7" class='pixelated' />
<rect x="524" y="854" width="351" height="27" fill="white" class='pixelated' />
<text fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="537" y="881.203">Singular Vector 1  (frequency?)</tspan></text>
<rect x="362" y="1035" width="26" height="309" fill="white" class='pixelated' />
<text transform="translate(360 1327) rotate(-90)" fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="0" y="22.2031">Singular Vector 0  (color?)</tspan></text>
<path d="M1129.14 896.933V1503.31M1129.14 896.933H1136.65M1129.14 896.933H1121.63M1129.14 1503.31H1136.65M1129.14 1503.31L1121.63 1503.31" stroke="#A7A7A7" class='pixelated' />
<path d="M1147.91 880.037L1754.29 880.037M1147.91 880.037L1147.91 872.528M1147.91 880.037L1147.91 887.547M1754.29 880.037L1754.29 872.528M1754.29 880.037L1754.29 887.547" stroke="#A7A7A7" class='pixelated' />
<rect x="1280" y="859" width="351" height="27" fill="white" class='pixelated' />
<text fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="1293" y="886.203">Singular Vector 1  (frequency?)</tspan></text>
<rect x="1118" y="1040" width="26" height="309" fill="white" class='pixelated' />
<text transform="translate(1116 1332) rotate(-90)" fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="0" y="22.2031">Singular Vector 0  (color?)</tspan></text>
<path d="M1129.14 160.933V767.312M1129.14 160.933H1136.65M1129.14 160.933H1121.63M1129.14 767.312H1136.65M1129.14 767.312L1121.63 767.312" stroke="#A7A7A7" class='pixelated' />
<path d="M1147.91 144.037L1754.29 144.037M1147.91 144.037L1147.91 136.528M1147.91 144.037L1147.91 151.547M1754.29 144.037L1754.29 136.528M1754.29 144.037L1754.29 151.546" stroke="#A7A7A7" class='pixelated' />
<rect x="1280" y="123" width="351" height="27" fill="white" class='pixelated' />
<text fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="1293" y="150.203">Singular Vector 1  (frequency?)</tspan></text>
<rect x="1118" y="304" width="26" height="309" fill="white" class='pixelated' />
<text transform="translate(1116 596) rotate(-90)" fill="#878787" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="24" letter-spacing="0em"><tspan x="0" y="22.2031">Singular Vector 0  (color?)</tspan></text>
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" font-weight="bold" letter-spacing="0em"><tspan x="1300.5" y="38.3994">second convolutional layer</tspan></text>
<text fill="black" xml:space="preserve" style="white-space: pre" font-family="Roboto" font-size="27.5" letter-spacing="0em"><tspan x="1116" y="38.3994">Neurons in the </tspan><tspan x="1631.25" y="38.3994"> </tspan><tspan x="1116" y="70.3994">organized by the right singular vectors of |W|.</tspan></text>
<path d="M657 508L679.821 436.056M679.821 436.056L659.185 371M679.821 436.056H699" stroke="#B2B2B2" class='pixelated' />
<defs>
<pattern id="patternFigure_50" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#imageFigure_50" transform="translate(0 -0.00125439) scale(0.000705219)" class='pixelated' />
</pattern>
<pattern id="patternFigure_51" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#imageFigure_51" transform="translate(0 -0.00344234) scale(0.000703235)" class='pixelated' />
</pattern>
<pattern id="patternFigure_52" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#imageFigure_52" transform="scale(0.00172414)" class='pixelated' />
</pattern>
<pattern id="patternFigure_53" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#imageFigure_53" transform="scale(0.00171527)" class='pixelated' />
</pattern>
<image id="imageFigure_50" width="1418" height="1424" xlink:href="generated_images/3fcd9923ac6b252.png" class='pixelated' />
<image id="imageFigure_51" width="1422" height="1422" xlink:href="generated_images/66a4ca81fd1cd.png" class='pixelated' />
<image id="imageFigure_52" width="580" height="585" xlink:href="generated_images/e2aba5b7150146.png" class='pixelated' />
<image id="imageFigure_53" width="583" height="583" xlink:href="generated_images/f88c15a82e7710.png" class='pixelated' />
</defs>
</svg>

      <figcaption class="figcaption l-body">
        <p>
          <a href="#figure-5" class="figure-number">5</a>. CAPTION.
        </p>
      </figcaption>
    </figure>

    <p>
      We also see that the second factor appears to be frequency. This suggests an interesting prediction: perhaps if we were to split the layer into more than two branches, we'd also observe spcialization in frequency in addition to color.
    </p>

    <p>
      This seems like it may be true. For example, here we see a high-frequency black-and-white branch, a mid-frequency mostly black-and-white branch, a mid-frequency color branch, and a low-frequency color branch.
    </p>

    <figure id="figure-6">
      <img src="images/Figure_6.png" style="max-width: 100%; width: auto;" />
      <figcaption class="figcaption l-body">
        <p>
          <a href="#figure-6" class="figure-number">6</a>. CAPTION.
        </p>
      </figcaption>
    </figure>

    <h2>Parallels to neuroscience</h2>


    <p>
      We've shown that branch specialization is one example of a large-scale structure to how neural networks operate, an example of a structural phenomenon. It happens in a variety of situations and neural network architectures, and it happens with <i>consistency</i> &ndash; certain motifs of specialization, such as color, frequency, and curves, happen consistently across different architectures and tasks.
    </p>

    <p>
      Harkening back to our comparison with anatomy, although we hesitate to claim explicit parallels to neuroscience, it's tempting to draw analogies between branch specialization and the existence of regions of the brain focused on particular tasks. The visual cortex, the auditory cortex, the anatomical homunculus[], Broca's area and Wernicke's area  – these are all examples of brain areas with such consistent specialization across wide populations of people that neuroscientists and psychologists have been able to characterize their function as well as to notice remarkably consistent symptoms, such as those of Wernicke's aphasia, when those areas are damaged.
    </p>
  </d-article>

  <d-appendix>
    <h3>Author Contributions</h3>

    <!-- <p>This article grew out of a document that Chris wrote in order to act as an explanation for our techniques for visualizing weights.</p>

    <p>
      <b>Research.</b> The necessity of visualizing weights is a problem we encounter frequently, and our techniques have been refined across many investigations of features and circuits, so it is difficult to fully separate out all contributions towards improving those techniques.
    </p>

    <p>
      Many people "test drove" these visualization methods, and a lot of our practical knowledge of using them to study circuits came from that.

      For example, the curve detector examples used in <i>Small Multiples</i> are due to Nick's work investigating curve detectors. Gabe performed experiments that moved <i>Visualizing Spatial Position Weights</i> forward. The high-low frequency detector example and NMF factors used in <i>Visualizing Weight Factors</i> are due to experiments performed by Ludwig, and the weight banding examples in <i>Aside: One Simple Trick</i> are due to experiments run by Michael.
    </p>

    <p>
      <b>Writing and Diagrams.</b> Chris wrote the article and developed the designs for its original figures. Chelsea ported the article to Distill, upgraded the diagrams for the new format, edited some text, and developed Figure 12, and Chris provided feedback on the ported article.
    </p> -->

    <h3>Acknowledgments</h3>

    <!-- <p>
      We are grateful to participants of #circuits in the Distill slack for their pre-draft comments and engagement with these concepts, including Kenneth Co, Humza Iqbal, and Vincent Tjeng. We are also grateful to Daniel Filan, Humza Iqbal, Stefan Sietzen, and Vincent Tjeng for remarks on a draft.
    </p>
 -->
    <d-footnote-list></d-footnote-list>
    <d-citation-list></d-citation-list>
  </d-appendix>

  <d-bibliography src="bibliography.bib"></d-bibliography>

</body>
